/* DeleteAll component styling */
.deleteAll{
    width: 4rem;
    margin: 20px;
    position: absolute;
    right: 20px;
    bottom: 0px;
}
.deleteAll:hover {
    width: 4.15rem;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}
