body {
    background-image: url("https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=996");
    background-size: cover;
    font-family: 'Source Serif Pro', serif;
    /* font-family: 'Raleway', sans-serif; */

}

